@tailwind base;
@tailwind components;
@tailwind utilities;

.svg-shadow {
	animation: svg-shadow-animation 3s ease-in-out infinite alternate;
}

@keyframes svg-shadow-animation {
	0% {
		filter: drop-shadow(0px 0px 5px #fff) drop-shadow(0px 0px 15px #f9dc5c)
			drop-shadow(0px 0px 20px #f9dc5c);
	}

	100% {
		filter: drop-shadow(0px 0px 20px #fff) drop-shadow(0px 0px 25px #f9dc5c)
			drop-shadow(0px 0px 40px #f9dc5c);
	}
}

@keyframes svg-shadow-box-animation {
	0% {
		box-shadow: 0px 0px 5px #fff, 0px 0px 15px #f9dc5c, 0px 0px 20px #f9dc5c;
	}

	100% {
		box-shadow: 0px 0px 20px #fff, 0px 0px 25px #f9dc5c, 0px 0px 40px #f9dc5c;
	}
}

html,
body {
	background-color: #f9dc5c;
}
